.title {
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
  display: inline-block; /* add this line */
}
  
  .daily-item {
    background-color: hwb(93 7% 7%);
    border-radius: 15px;
    height: 50px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding: 5px 5px;
    Width: 92%;
    position: relative;
    top: 50%;
    margin: 60px 5px 5px 5px;
  }
  
  .icon-small {
    width: 40px;
  }
  
  .daily-item .day {
    cursor: inherit;
    color: #212121;
    flex: 1 1;
    font-weight: 300;
    margin-left: 5px;
  }
  
  .description {
    cursor: inherit;
    flex: 1 1;
    margin-right: 40px;
    text-align: right;
    font-size: 15px;
    margin-left: 30px;
  }
  
  .min-max {
    color: #757575;
  }
  
  .daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    row-gap: 0;
    justify-content: start;
    align-items: stretch;
    justify-items: stretch;
  }
  
  .daily-details-grid-item {
    align-items: center;
    display: flex;
    height: 38px;
    /*justify-content: space-between;*/
  }
  
  .daily-details-grid-item label:first-child {
    color: #009688;
  }
  
  .daily-details-grid-item label:last-child {
    color: #212121;
  }
  .daily-container {
    display: flex;
    flex-direction: column;
  }
  
  .daily-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*.daily-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }*/
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 200px 200px;
  }